<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="people-sharp"></ion-icon>
      Characters
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let character of characters" button="true" color="light">
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <ion-avatar>
              <img [src]="character.image" [alt]="character.name" />
            </ion-avatar>
          </ion-col>
          <ion-col size="9">
            <ion-card-title>
              {{character.name}}
            </ion-card-title>
            <ion-card-subtitle>
              <ion-chip [color]="genders[character.gender].color">
                <ion-icon
                  [name]="genders[character.gender].icon"
                  [color]="genders[character.gender].color"
                ></ion-icon>
                <ion-label>{{character.species}}</ion-label>
              </ion-chip>
            </ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
      <ion-badge
        [color]="character.status === 'Alive'?'success':character.status === 'Dead'?'danger':'warning'"
      >
        {{character.status}}
      </ion-badge>
      <br />
      <ion-text color="secondary">
        <h2>{{character.episode[0].name}}</h2>
      </ion-text>
      <ion-text color="primary">
        <h3>{{character.location.name}}</h3>
      </ion-text>
    </ion-card-content>
  </ion-card>
  <ion-card color="light" *ngFor="let count of skeletonCount">
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <ion-avatar>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
          </ion-col>
          <ion-col size="9">
            <ion-card-title>
              <ion-skeleton-text animated></ion-skeleton-text>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-card-title>
            <ion-card-subtitle>
              <ion-skeleton-text
                animated
                style="width: 30%;"
              ></ion-skeleton-text>
            </ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
      <br />
      <ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text>
      <ion-text color="secondary">
        <h2>
          <ion-skeleton-text></ion-skeleton-text>
        </h2>
      </ion-text>
      <ion-text color="primary">
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-text>
    </ion-card-content>
  </ion-card>
  <ion-grid *ngIf="characters.length">
    <ion-row class="ion-align-items-center">
      <ion-col size="3">
        <ion-button
          expand="block"
          color="tertiary"
          (click)="previousPage()"
          [disabled]="!previousIndex"
        >
          <ion-icon name="arrow-back-outline"></ion-icon>
          Previous
        </ion-button>
      </ion-col>
      <ion-col size="6" style="text-align: center;">
        Page {{currentIndex}} of {{totalPages}}
      </ion-col>
      <ion-col size="3">
        <ion-button
          expand="block"
          color="secondary"
          (click)="nextPage()"
          [disabled]="!nextIndex"
        >
          Next
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
